input {
	keyboard {
		xkb {
                      layout "us,ua"
                      options "grp:alt_shift_toggle"
                  }
         }
         touchpad {
                  tap
         }
}
