layout {
    // Set gaps around windows in logical pixels.
    gaps 12
  // struts {
  //      left 0
  //      right 0
  //      top 0
  //      bottom 0
  //  }
    always-center-single-column
    background-color "transparent"
    // When to center a column when changing focus.
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }


    // Terminals and new windows start at 1/2 width
    default-column-width { proportion 0.5; }

    focus-ring {
        width 0
        active-color   "#cba6f7" // Catppuccin Mauve
        inactive-color "#585b70" // Surface 2
        urgent-color   "#f38ba8" // Red
    }

    border {
        off
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#00000040"
    }
}

