window-rule {
    draw-border-with-background false
    clip-to-geometry true
    geometry-corner-radius 8
    // popups {
    //     background-effect {
    //         blur true
    //     }
    // }
}
layer-rule {
    match namespace="waybar"
    match at-startup=true
    match layer="top"

    // Properties that apply continuously.
    opacity 0.5
    // block-out-from "screen-capture"

    shadow {
        on
        // off
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000064"
        // inactive-color "#00000064"
    }

    geometry-corner-radius 12
    place-within-backdrop true
    baba-is-float true

    background-effect {
        xray true
        blur true
        noise 0.05
        saturation 3
    }

    popups {
        opacity 0.5
        geometry-corner-radius 6

        background-effect {
            xray true
            blur true
            noise 0.05
            saturation 3
        }
    }
}
window-rule {
    exclude app-id="^mpv|^firefox|^ncmpcpp"
    background-effect {
        blur true
    }
}
window-rule {
    match app-id="^footclient"
    opacity 0.89
}

// ------------------------stateful-------------------------
window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
}
window-rule {
    match app-id="^onscripter-ru"
    open-maximized true
}


window-rule {
    match app-id="^footclient-floating"
    default-column-width { proportion 0.45; }
    default-window-height { proportion 0.35; }
    default-floating-position x=0 y=0 relative-to="bottom-right"
    open-floating true
}
window-rule {
    match app-id="ripdrag"
    open-focused false
    open-floating true
    default-floating-position x=50 y=30 relative-to="bottom-right"
}

layer-rule {
    match namespace="^awww-daemon$"
    place-within-backdrop true
}

window-rule {
    match app-id="^mpv"
    open-maximized true
}
window-rule {
    match app-id="^ncmpcpp-floating"
    open-floating true
}

window-rule {
    match app-id="^btm"
    open-floating true
    default-column-width { proportion 0.65; }
    default-window-height { proportion 0.65; }
}
